---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { ImageMetadata } from 'astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title?: string;
  description?: string;
  image?: ImageMetadata;
  type?: 'website' | 'article';
  pubDate?: string;
  updatedDate?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  type = 'website',
  pubDate,
  updatedDate,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      type={type}
      pubDate={pubDate}
      updatedDate={updatedDate}
    />
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
